<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node | Speakers</title>
    <link rel="stylesheet" href="assets/semantic/semantic.min.css">
</head>
<body>
    <h1>Cameroon Tech Developpers </h1>
    <div class="cardlist">

        <div class="ui link cards">
        <%data.forEach(function(speaker){%>

              <div class="card">

                <div class="image">
                <!-- <img src="assets/images/speaker-.jpg"> -->
                <img src="<%=`assets/images/speaker-${speaker.id}.jpg`%>">
                </div>
                <div class="content">
                <div class="header"><%=speaker.first%></div>
                <div class="meta">
                    <a href="<%=`/${speaker.id}`%>"><%=speaker.last%></a>
                </div>
                <div class="description">
                    <%=speaker.bio%>
                </div>
                </div>
                <div class="extra content">
                <span class="right floated">
                    <%=speaker.compagny%>
                </span>
                <span>
                    <i class="user icon"></i>
                    <%=speaker.twitterHandle%>
                </span>
                </div>
  </div>
        <% });%>

    </div>
    </div>



<style>

    .cardlist{
        margin-left: 300px;
    }
</style>
</body>
</html>